<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${chapter.getFormattedName()}">...</title>
    <th:block th:insert="fragments/head"/>
</head>
<body class="bg-light">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" th:utext="${@environment.getProperty('spring.application.name')}">...</a></li>
        <li class="breadcrumb-item"><a th:href="'/manga/' + ${chapter.getBranch().getManga().getSlug()}" th:utext="${chapter.getBranch().getManga().getCanonicalName()}">...</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:utext="${chapter.getFormattedName()}">...</li>
    </ol>
</nav>
<div class="container-lg mt-2">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
        <th:block th:each="page : ${chapter.getPages()}">
            <img th:src="${page.getImage()}" width="100%"/>
        </th:block>
    </div>
</div>
</body>
</html>
