<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${@environment.getProperty('spring.application.name')}">...</title>
    <th:block th:insert="fragments/head"/>
</head>
<body class="bg-light">
<th:block th:insert="fragments/navbar"/>
<div class="container-lg mt-2">
    <div class="shadow-sm mb-2 bg-white rounded flex-box">
        <h4 class="p-3 mb-0">Результаты поиска</h4>
        <ul class="list-group list-group-flush border-top">
            <th:block th:each="manga : ${result}">
                <li class="list-group-item">
                    <a th:href="'/manga/' + ${manga.getSlug()}" th:utext="${manga.getCanonicalName()}">...</a>
                </li>
            </th:block>
        </ul>
    </div>
</div>
</body>
</html>
